* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

form div{
  margin: 8px 0;
  
}

/* SELETOR POR ATRIBUTO */
input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  display: block;
  width: 100%;
}

button{
  background-color: #89c403;
  padding: 6px 24px;
  border: 1px solid #74b807;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

small .invalid {
  color: red;
}

input.invalid {
  border: 1px solid red;
  outline: 2px solid pink;
}

